---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../../components/FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('projects')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section class="projects-overview-section">
        <h1 class="subpage-heading">Projects</h1>
        <p class="subpage-desc">
          A selection of projects I've worked on over the past years – ranging from personal playgrounds to voluntary and professional implementations.
        </p>
        <ul>
          {
            posts.map((post) => (
              <li class="project-post">
                <a href={`/projects/${post.id}/`}>
                  <div class="project-image">
                    {post.data.image && (
                      <Image src={post.data.image} alt="" />
                    )}
                  </div>
                  <div class="project-details">
                    <div class="facts">
                      <p class="date">
                        <FormattedDate date={post.data.pubDate} />
                      </p>
                    </div>
                    <h4 class="title">{post.data.title}</h4>
                    <p class="desc">{post.data.description}</p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>


<style lang="scss">
.projects-overview-section {
  width: 80%;
  max-width: 1600px;
  margin: auto;

  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  li a {
    display: flex;
  }

  li {
    background-color: var(--gray-light);
    border-radius: 16px;
    transition: transform 0.3s ease;
    border: 0.2rem solid #fff;
    box-shadow: var(--box-shadow-card);
    overflow: hidden;
    margin: 1rem 0;
  }

  .project-image {
    width: 30%;

    img {
      height: 200px;
      object-fit: cover;
    }
  }

  .project-details {
    position: relative;
    width: 100%;
    margin: 0 1rem;
    padding: 1rem 0;

    .facts {
      display: flex;
      margin: 0 0 1rem 0;
    }

    .title  {
				margin: 0;
			}

			.desc{
				margin: 1rem 0 0 0;
			}

    .date {
      background-color: var(--accent);
      padding: 0.4rem 0.7rem;
      border-radius: 0.5rem;
      width: fit-content;
      margin: 0;
      box-shadow: var(--box-shadow-card);
    }
  }
}

@media (max-width: 900px) {

  .project-post a{
    flex-direction: column;
    text-align: center;

    .project-image{
      width: 100%;
    }

    .project-image img {
      height: auto;
    }

    .project-details{
      width: auto;
    }
  }

}
</style>
